* {
  font-family: "Work Sans", sans-serif;
}
/* Header section  */
header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  padding: 3rem 15rem;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-heading {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
.list-items > a {
  text-decoration: none;
  margin-right: 2rem;
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

/* Responsive codes  */

/* Mobile  */

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    padding: 0 1rem;
  }
  .nav-heading {
    text-align: center;
  }
}

/* tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
        padding: 0 1rem;
      }
      .nav-heading {
        text-align: center;
      }

}

/* laptop and desktop */
@media screen and (min-width: 992px) and (max-width: 1220px){
    nav {
        flex-direction: column;
        padding: 0 1rem;
      }
      .nav-heading {
        text-align: center;
      }

      
}