/* Shared styles */

* {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  width: 11.25rem;
  border-radius: 0.5rem;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem;
  margin-bottom: 3.12rem;
  border: none;
  cursor: pointer;
}
/* Header section  */
header {
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  padding: 3rem 15rem;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-heading {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
.list-items > a {
  text-decoration: none;
  margin-right: 2rem;
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}

/* bannersection  */
.banner {
  text-align: center;
  padding: 1.5rem 15rem;
}
.banner-content {
  max-width: 53.875rem;
  margin: auto;
}
.banner-heading {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-family: Work Sans;
  font-size: 1rem;
  line-height: 1.625rem;
}
.banner-image {
  width: 100%;
}
/* Header section  ends */

/* main section  */
main {
  max-width: 90rem;
  padding: 8rem 0;
  margin: auto;
}

/* features section starts */
.features {
  display: flex;
  align-items: center;
}
.features-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.features-content {
  padding: 0 4.75rem;
}
.features-heading {
  max-width: 29.25rem;
  color: #727272;
  font-size: 2.8125rem;
  font-weight: 500;
}
.features-span-1 {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
.features-span-2 {
  color: #ff900e;
  font-size: 2.8125rem;
  font-weight: 700;
}
.features-description {
  max-width: 33.5625rem;
  color: #727272;
  font-size: 1rem;
  line-height: 1.625rem;
}
/* Features section ends */

/* Responsive codes  */

/* Mobile  */

@media screen and (max-width: 576px) {
  header {
    padding: 1rem;
  }
  /* nav section  */
  nav {
    flex-direction: column;
    padding: 0 1rem;
  }
  .nav-heading {
    text-align: center;
  }

  /* banner section  */
  .banner {
    padding: 1rem 1rem;
  }
  .banner-heading {
    font-size: 1.5rem;
  }
}

/* tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    padding: 0 1rem;
  }
  .nav-heading {
    text-align: center;
  }
  /* banner section  */
  .banner {
    padding: 1rem 2rem;
  }
  .banner-heading {
    font-size: 1.5rem;
  }
}

/* laptop and desktop */
@media screen and (min-width: 992px) and (max-width: 1220px) {
  nav {
    flex-direction: column;
    padding: 0 1rem;
  }
  .nav-heading {
    text-align: center;
  }
  /* banner section */
  .banner {
    padding: 1rem 2rem;
  }
  .banner-heading {
    font-size: 2rem;
  }
}
